.Marveltitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    height: 100%;
}

.bg {
    background-image: url("../images/Arena.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.captain {
    height: 42%;
    vertical-align: bottom;
}

.thanos {
    height: 42%;
    vertical-align: bottom;
}

.venom {
    height: 42%;
    vertical-align: bottom;
}

.ultron {
    height: 42%;
    vertical-align: bottom;
}

.center {
    margin: auto;
}