.Marveltitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    height: 100%;
}

.bg {
    background-image: url("../images/Arena.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.captain {
    display: block;
    width: 100%;
}